input[text] .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0px;
  background: transparent;
}
.imputRqd {
  background-color: white;
  color: black;
  font-weight: bold;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 10px;
}

#a {
  background-color: #341c68;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.btnReg {
  color: rgb(0, 0, 0);
  font-size: bolder;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  border-radius: 300px;
  background-color: white;
  width: 150px;
  height: 35px;
  font-size: 20px;
}
input[type="text"],
[type="password"] {
  font: inherit;
  border: none;
  margin: 0;
  border-radius: 0.4em;
}
