input[text] .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 1px;
  background: transparent;
}
.inputRqd {
  background-color: white;
  color: black;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
.imputRqd{
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 0.85em;
  font-family:"Poppins", sans-serif ;
  border: white solid 1px;
  border-radius: 0.3em;
  width: 15em;
}
#a {
  background-color:none;
  font-family: "Poppins", sans-serif;
}

.btnReg {
  color: rgb(0, 0, 0);
  font-size: bolder;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  border-radius: 300px;
  background-color: white;
  width: 150px;
  height: 35px;
  font-size: 20px;
}
input[type="text"],
[type="password"] {
  font: inherit;
  border: none;
  margin: 0;
  border-radius: 0.4em;
}
.boton-Registrarte {
  background: linear-gradient(90deg, #1a093e, #4b238c); /* Gradiente similar al de la imagen */
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 2em;
  padding: 0.8em 2em;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition:  0.3s ease;
  box-shadow: 0px 2px 8px #ffffff5e;
}

.boton-Registrarte:hover {
  background: linear-gradient(90deg, #4b238c, #1a093e); /* Cambia el gradiente al hacer hover */
}
.formulario{
  width: 25em;
 
}