* {
  height: auto;
}

.senor {
  width: 100%;
  height: 500px;
  background-image: url("/Users/Sesega/Documents/ImperiumSound-frontend/images/image-removebg.png");
  background-size: cover;

  background-repeat: no-repeat;
  background-color: transparent;  
}




