

.contenedor2 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 130em;
    margin-top: 7em;
}


.tarjetaa1{
    background:linear-gradient(90deg,#140c34,#301464); /* Fondo morado oscuro */
    border-radius: 2em;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    margin-left: 5em;
    padding: 2em;
}
.tarjetaa2{
    background:linear-gradient(90deg,#140c34,#301464);/* Fondo morado oscuro */
    border-radius: 2em;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    margin-left: 10em;
    padding: 2em;
}
.tarjetaa3{
    background:linear-gradient(90deg,#140c34,#301464); /* Fondo morado oscuro */
    border-radius: 2em;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    margin-left: 10em;
    margin-right: 5em;
    padding: 2em;
}

.tarjetaa1 h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    text-align: center;
    
}

.tarjetaa1 p {
    
    font-size: 1.2em;
    line-height: 1.3;
}
.tarjetaa2 h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    
}

.tarjetaa2 p {
    
    font-size: 1.2em;
    line-height: 1.3;
}

.tarjetaa3 h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    
}

.tarjetaa3 p {
    
    font-size: 1.2em;
    line-height: 1.3;
}


.icono1 {
    
    width: 14em;
    height: 14em;
    border: solid 0.4em;
    background:linear-gradient(90deg,#140c34,#301464); /* Fondo del círculo del ícono */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
}

.icono img {
    width: 50%;
}
.tituloObje{
    text-align: center;
    font-size:2em ;
    font-weight: bolder;
    padding-top: 1em;
    margin-bottom: -2em;
}