
.titulo1{
border: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    position: relative; /* Asegura que estos elementos se muestren encima de la imagen */
    z-index: 1
}

.imagen-fondo {
    
    margin-top: 500px;
    margin-left: 1400px;
    position:absolute;
    top: 0;
    left: 0;
    
    width: 25%;
    height: 50%;
    z-index: 1; /* Envía la imagen al fondo */
    object-fit: cover; 
}
.a{
    width: 400px;
}
.imgf{
    margin-left: 1300px  ;
    margin-top: 700px;
    position:absolute;
    z-index: 1;
    object-fit: cover; 
    top: 0;
    left: 0;
    
}